name: Lint Code

on:
  pull_request:
    branches: main
  push:
    branches: main

jobs:
  ruff:
    name: Check code formatting with Ruff
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install ruff
      - run: |
          ruff check .
          ruff format --check --diff
